fastapi==0.109.2
uvicorn==0.27.1
langgraph
langchain-core
langchain-community
httpx
pydantic
python-multipart
pypdf
python-docx
azure-cosmos
langchain-groq
langchain-huggingface
azure-storage-blob
tweepy
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
huggingface_hub
Pillow
